<div>
  <%= if @state.stage == 1 do %>
    <%= live_component @socket, Creator.Components.Stage1, id: :stage1, state: @state %>
  <% end %>
  <%= if @state.stage == 2 do %>
    <%= live_component @socket, Creator.Components.Stage2, id: :stage2, state: @state %>
  <% end %>
</div>
