<div class="row">
  <div class="col-2">
    <%= for special_rule <- all_special_rules do %>
      <div>
        <%= live_patch special_rule.name, to: Routes.special_rules_path(@socket, :show, special_rule.id) %>
      </div>
    <% end %>
  </div>
  <div class="col-10">
    <%= if assigns[:special_rule] do %>
      <h1><%= @special_rule.name %></h1>
      <p>
        <%= raw to_html(@special_rule.description) %>
      </p>
    <% end %>
  </div>
</div>
